In [1]:
var="i love python"
var

'i love python'

In [2]:
var[:0]

''

In [3]:
var[::1]

'i love python'

In [4]:
var[0]+var[7:13]

'ipython'

In [5]:
var[0:13:2]

'ilv yhn'

In [6]:
var[:]

'i love python'

In [7]:
var[::-1]

'nohtyp evol i'

In [8]:
"Lov" in var

False

In [9]:
x=5
type(x)

int

In [10]:
a="amrut"
type(a)

str

In [11]:
b=0.3
type(b)

float

In [12]:
print(b)

0.3

In [13]:
x=45
y=50
x-y

-5

In [14]:
print("value of x is %.4f"%x)

value of x is 45.0000

In [15]:
print"value of x is {} and y is {}".format(x,y)

value of x is 45 and y is 50

# list

In [16]:
a=[25,"amrut",30,"pooja",45,50,60]
a

[25, 'amrut', 30, 'pooja', 45, 50, 60]

In [17]:
a.remove(25)

In [18]:
a[2]="swAPNIL"

In [19]:
a

['amrut', 30, 'swAPNIL', 45, 50, 60]

In [20]:
a.append("pam")
a

['amrut', 30, 'swAPNIL', 45, 50, 60, 'pam']

In [21]:
a.remove(60)
a

['amrut', 30, 'swAPNIL', 45, 50, 'pam']

In [22]:
b=[1,2,3,4,5,6,7]
b

[1, 2, 3, 4, 5, 6, 7]

In [23]:
a.append(b)
a

['amrut', 30, 'swAPNIL', 45, 50, 'pam', [1, 2, 3, 4, 5, 6, 7]]

In [24]:
a[6].append([35,44])

In [25]:
a

['amrut', 30, 'swAPNIL', 45, 50, 'pam', [1, 2, 3, 4, 5, 6, 7, [35, 44]]]

In [26]:
a.pop()

[1, 2, 3, 4, 5, 6, 7, [35, 44]]

In [27]:
len(a)

6

In [28]:
response=("yes","no")

In [29]:
type(response)

tuple

In [30]:
response[0]

'yes'

# dictionaries

In [31]:
a={1:"amrut",2:'pooja',3:'upasana',4:'gopi'}
a

{1: 'amrut', 2: 'pooja', 3: 'upasana', 4: 'gopi'}

In [32]:
type(a)

dict

In [33]:
a[1]

'amrut'

In [34]:
a[5]="abhishek"

In [35]:
a

{1: 'amrut', 2: 'pooja', 3: 'upasana', 4: 'gopi', 5: 'abhishek'}

In [36]:
del a[5]
a

{1: 'amrut', 2: 'pooja', 3: 'upasana', 4: 'gopi'}

In [37]:
a.keys()

[1, 2, 3, 4]

In [38]:
a.values()

['amrut', 'pooja', 'upasana', 'gopi']

In [39]:
del a[2]

In [40]:
a

{1: 'amrut', 3: 'upasana', 4: 'gopi'}

In [41]:
a=open("file.txt")          # to open file
print a.close()

None

In [42]:
a=10
b=20
a

10

In [43]:
b

20

In [44]:
def sum_fun(a,b):
    result = a+b
    return result

In [45]:
c=sum_fun(5,10)
c

15

In [46]:
def sum_fun(a,b):
    result = a+b
    return result

In [47]:
z = sum_fun(10, 15)
z

25

In [48]:
a=10
b=20
var = "+"
if var == "+":
    print a+b
elif var == "-":
    print a-b
elif var == "/":
    print a/b
else var == "*":
    print a*b

SyntaxError: invalid syntax (<ipython-input-48-4c69da72aa06>, line 10)

In [ ]:
l1=[10,20,30,45]
for i in l1:
    print i

In [ ]:
print i+10

In [ ]:
l1=[1,8,2,9,3]
l2=range(5,10)
l1

In [ ]:
l2

In [ ]:
dup=[]
for i in l1:
    print (dup)

In [ ]:
data=["amrut","pooja","anokhi","shubhangi","smita"]
if "amrut" and "pooja" in data:
    print("gave him hike")
elif "anokhi" in data:
    print ("gavehim 35% hike")
else:
    print ("no salary hike")

In [ ]:
amrut=[10,20,3,5,40,50]
for i in amrut:
    print i

In [ ]:
print i+10

In [ ]:
for name in data:
    if 'a' in name:
        print 'yes'
    else:
        print'no'

In [ ]:
def sum_fun(a,b):
    result=a+b
    return result

In [ ]:
z= sum_fun(5,10)
z

In [ ]:
def sum_fun(a, b=0):
    result = a + b
    return result
z = sum_fun(10)

In [ ]:
z

In [ ]:
def div_fun(a,b):
    result=a/b
    return result
x= div_fun(10,2)
x

In [ ]:
l=range(1,50)
def find_value(value):
    if value in l:
        print["value is in list"]
    else:
        print["value not in list"]

In [ ]:
find_value(49)

In [ ]:
l1=range(1,100)
def find_value(value):
    if value in l1:
        print["value is in list"]
    else:
        print["value not in list"]

In [ ]:
find_value(50)

In [ ]:
type(l1)

In [ ]:
len(l1)